@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a.activeScrollElement {
  border-bottom: 4px solid #ee909c;
  padding-bottom: 0.15em; 
}

@layer utilities {
  .clip-it { 
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% calc(100% - 12vh),
      0 100%
      );
  }
  .mask-it {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 85%, transparent 100%);    
  }
  .mask-head {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);    
  }
  .mask-up {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 85%, transparent 100%);    
  }
}

.type {
  /* font-family: monospace; */
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(70*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(80*.3s) steps(70) forwards;
}
@keyframes t{
  from {background-size:0 100%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

.canvas-container {
  overflow: hidden;
  resize: both;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  min-height: 200px;
  min-width: 200px;
  max-height: 800px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.canvas-container::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 1em solid yellow;
  border-left: 1em solid transparent;
}