.container {
    padding: 2rem 2rem;
  }
  
  .formdiv {
    /* min-height: 100vh; */
    /* scroll-behavior: smooth; */
    padding: 3rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 30%; */
  }
  
  .submit {
    display: inline-block;
    flex: 1;
    padding: 0.3rem 0.3rem;
    /* position: relative; */
    border: transparent;
    border-radius: 20%;
    background-color: rgb(95, 160, 138);
    justify-content: center;
    align-items: center;
  }

  .submit:hover {
    background-color: rgb(0, 250.8, 170);
  }

  .clear {
    display: inline-block;
    flex: 1;
    padding: 0.3rem 0.3rem;
    /* position: relative; */
    border: transparent;
    border-radius: 20%;
    background-color: rgb(175, 96, 96);
    justify-content: center;
    align-items: center;
  }

  .clear:hover {
    background-color: rgb(187, 0, 0);
  }
  
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-color: black;
    border-width: 3px;
    padding: 2rem 1rem;
  }

  .charCount {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 1;
    color: grey;
    font-style: italic;
    font-size: small;
  }

  .query {
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
    flex-grow: 0.1;
    border-color: blue;
    border-width: 3px;
    padding: 2rem 5rem;
  }

  .output {
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
    flex-grow: 0.1;
    border-color: red;
    border-width: 3px;
    padding: 2rem 5rem;
  }

  .buttondiv {
    width: 100%;
    /* text-align: center; */
    /* text-align: justify; */
  }

  .historyLabel {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
    color: grey;
    font-style: italic;
    font-size: small;
  }

  .promptButton {
    display: inline-block;
    flex: 1;
    padding: 0.3rem 0.3rem;
    border: whitesmoke;
    border-radius: 20%;
    color: black;
    background-color: rgb(171, 177, 175);
    justify-content: center;
    align-items: center;
  }

  .promptButton:hover {
    background-color: rgb(224, 233, 242);
  }


  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #e8798a;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  .squareContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .square {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    border-color: black;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
  
  .square::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .square .content {
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  } 

  .subjectLabel {
    display: "inline-block";
    background-color: orange;
    color: black;
    font-style: italic;
    width: fit-content;
    font-size: small;
  }

  /* .subjectButton {
    width: 100%;
    height: 100%;
  } */

/*
Animation classes.
*/

.historyEntry {
    padding: 20px;
    animation: flasher 1s;
}

@keyframes flasher{
    from {
    opacity: 0.2;
    }
    to {
    opacity: 1;
    }
}

@keyframes slideme {
  from { 
    transform: translate(0)
  }
  20% {
    transform: rotate(45deg) scale(0.7069, 0.7069);
    transform-origin: 50% 50%;
  }
  /* 40% {
    transform: rotate(405deg) scale(0.7069, 0.7069);
    transform-origin: 50% 50%;
  } */
  /* 37.5% {
    transform: rotate(135deg) scale(0.7069, 0.7069);
    transform-origin: 50% 50%;
  } */
  /* 55% {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  } */
  /* 85% {
    transform: rotate(1395deg) scale(0.7069, 0.7069);
    transfomr-origin: 50% 50%;
  } */
  90% {
    transform: rotate(1440deg);
    transform-origin: 50% 50%;
  }
  to {
    transform: rotate(1440deg);
    transform-origin: 50% 50%;
  }
}

@keyframes slideme1 {
  from {
    transform: translate(0);
  }
  /* 12.5% {
    transform: translate(0%, 25.9%) scale(0.9, 0.9)
  } */
  25% {
    transform: translate(0%, 50.8%);
  }
  /* 32.5% {
    transform: translate(25.9%, 55.8%) scale(0.9, 0.9)
  } */
  50% {
    transform: translate(50.8%, 50.8%);
  }
  /* 62.5% {
    transform: translate(55.8%, 25.9%) scale(0.9, 0.9)
  } */
  75% {
    transform: translate(50.8%, 0%);
  }
  /* 87.5% {
    transform: translate(25.9%, 0%) scale(0.9, 0.9)
  } */
  to {
    transform: translate(0);
  }
}

@keyframes slideme2 {
  /* from {
    transform: translate(0);
  }
  to { */
    /* transform: translateX(-50%) rotate(45deg); */
    /* transform-origin: -40% -40%; */
    /* top: -25.9%;
    left: 40%; */
  }
  /* 25% {
    transform: translate(0%, -50%) rotate(90deg);
    transform-origin: 25% 75%;
    top: -50.8%
  } */
  /* 32.5% {
    transform: translate(0%, 50%) rotate(135deg);
    transform-origin: 25% 75%;
    transform: translate(-25.9%, -55.8%) scale(0.7069, 0.7069) rotate(45deg);
    top: -55.8%;
    left: -25.9%;
  } */
  /* 50% {
    transform: translate(-50.8%, -50.8%) rotate(45deg);
    top: -50.8%;
    left: -50.8%;
  }
  62.5% {
    transform: translate(-55.8%, -25.9%) scale(0.7069, 0.7069) rotate(45deg);
    left: -55.8%;
    top: -25.9%;
  }
  75% {
    transform: translate(-50.8%, 0%) rotate(45deg);
    left: -50.8%;
  } */
  /* to {
    transform: translate(0);
  }
} */

@keyframes slideme3 {
  from {
    transform: translate(0);
  }
  /* 12.5% {
    transform: translate(25.9%, 0%) scale(0.9, 0.9)
  } */
  25% {
    transform: translate(50.8%, 0%);
  }
  /* 32.5% {
    transform: translate(55.8%, 25.9%) scale(0.9, 0.9)
  } */
  50% {
    transform: translate(50.8%, -50.8%);
  }
  /* 62.5% {
    transform: translate(55.8%, -25.9%) scale(0.9, 0.9)
  } */
  75% {
    transform: translate(0%, -50.8%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes slideme4 {
  from {
    transform: translate(0);
  }
  /* 12.5% {
    transform: translate(-25.9%, 0%) scale(0.9, 0.9)
  } */
  25% {
    transform: translate(-50.8%, 0%);
  }
  /* 32.5% {
    transform: translate(-55.8%, 25.9%) scale(0.9, 0.9)
  } */
  50% {
    transform: translate(-50.8%, 50.8%);
  }
  /* 62.5% {
    transform: translate(-55.8%, 25.9%) scale(0.9, 0.9)
  } */
  75% {
    transform: translate(0%, 50.8%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes flipme {
  from {
    transform: rotateY( 0deg );
  }
  to {
    transform: rotateY( 180deg );
  }
}

.iconfull {
  position: relative;
  /* transform-style: preserve-3d; */
  /* transform-origin: 23.5% 25%; */
  animation-name: slideme;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

.iconElement1 {
  position: relative;
  /* transform-style: preserve-3d; */
  /* transform-origin: 23.5% 25%; */
  animation-name: slideme1;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

.iconElement2 {
  position: relative;
  /* transform-style: preserve-3d; */
  /* transform-origin: 77% 77%; */
  animation-name: slideme2;
  animation-duration: 3.5s;
  /* animation-delay: 0.5s; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

.iconElement3 {
  position: relative;
  /* transform-style: preserve-3d; */
  /* transform-origin: 23.5% 25%; */
  animation-name: slideme3;
  animation-duration: 3.5s;
  /* animation-delay: 0.75s; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

.iconElement4 {
  position: relative;
  /* transform-style: preserve-3d;
  transform-origin: 77% 25%; */
  animation-name: slideme4;
  animation-duration: 3.5s;
  /* animation-delay: 0.25s; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

@keyframes shrink {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.0);
  }
}

.copyIconVisible {
  /* position: relative; */
  animation: shrink;
  animation-duration: 0.4s;
  /* animation-delay: 0.8s; */
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

.copyIconInvisible {
  /* position: relative; */
  animation: shrink;
  animation-duration: 0.4s;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

.checkIconVisible {
  /* position: relative; */
  animation: shrink;
  animation-duration: 0.4s;
  /* animation-delay: 0.8s; */
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

.checkIconInvisible {
  /* position: relative; */
  animation: shrink;
  animation-duration: 0.4s;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}